.about {
  @extend .slide-wrapper;
  max-height: 400px;
  overflow: hidden;
  position: relative;

  transition: all 300ms ease;
}

.about-readmore {
  text-align: center;
  display: flex;
  align-items: flex-end;
  position: absolute;
  width: 100%;
  height: 200px;
  bottom: 0;
  background-color: transparent;
  background: linear-gradient(to top, rgba($color-white, 1), transparent);

  & > button {
    color: blue;
    text-decoration: none;
    border: 0;
    width: 100%;
    padding: $padding 0;
    user-select: none;
    font-size: 1.2em;
    background: #fff;
    outline: 0;
    border: 0;

    &:hover {
      text-decoration: underline;
    }
  }
}

.about-readmore--toggled {
  position: static;
  height: auto;
  margin-top: $large-margin;
}

.about-title {
  text-transform: uppercase;
  margin: 0;
  font-weight: 800;
  font-size: $slide-heading-size;
}

#about-version {
  @extend a;
  border: 0;
  cursor: pointer;
  outline: 0;
  padding: 0;
}

.about-smallIntroduction {
  font-style: italic;
  font-size: $about-smallIntroduction-size;
  color: $color-muted;
  max-width: 350px;
  margin: 0;
  margin-bottom: $large-margin;
}

.about-groups {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.about-group {
  flex-basis: 100%;
  max-width: 100%;
}


.about-paragraph {
  font-size: $about-paragraph-size;
  line-height: $about-paragraph-lineheight;
  margin-bottom: $large-margin;
  margin-top: 0;
}

.about-signature {
  width: 132px;
  height: 72px;
}

@media only screen and (min-width: $tablet-breakpoint) {
  
  .about {
    max-height: none;
  }

  .about-readmore {
    display: none;
  }

  .about-group  {
    flex-basis: 46%;
    max-width: 46%;
  }
}


blockquote {
  padding: 0;
  margin: 0;
  margin-bottom: $large-margin;
  font-size: $about-paragraph-size;
  font-style: italic;
  font-weight: bold;
  & > span {
    font-weight: 300;
  }
}
