.BSOD {
  color: $color-white;
}

.BSOD-smile {
  font-size: 60px;
  font-weight: 800;
  margin: 0;
  color: inherit;
}


.BSOD-heading {
  font-size: 2em;
  color: inherit;
}

.BSOD-paragraph {
  font-size: 1.2em;
  line-height: 1.2;
  max-width: 800px;
  margin: $slim-margin 0;
  color: inherit;
}

.BSOD-footer {
  margin-top: $large-margin * 4;
  display: flex;
  align-items: center;
  color: inherit;
}

.BSOD-qr {
  width: 75px;
  height: 75px;
  margin-right: $large-margin;
}

.BSOD-copyright {
  font-size: 0.8em;
}


@media only screen and (min-width: $tablet-breakpoint) {

  .BSOD-heading {
    font-size: 30px;
  }

  .BSOD-smile {
    font-size: 100px;
  }

  .BSOD-social {
    margin-top: $large-margin * 2;
    & > a {
      font-size: 18px;
    }
  }

  .BSOD-paragraph {
    font-size: 20px;
    line-height: 25px;
  }

  .BSOD-qr {
    width: 100px;
    height: 100px;
    margin-right: $large-margin;
  }

  .BSOD-copyright {
    font-size: 1em;
  }

}
