.contact {
  padding: $large-padding*3 0 0 0;
  color: $color-black;
}

.contact-heading {
  font-size: 2em;
  color: inherit;
}


.contact-social {
  margin-top: $large-margin * 2;
  color: inherit;
  & > span {
    display: inline-block;
    margin-right: $margin;
    margin-bottom: $margin;
    text-decoration: none;
    font-size: 1.1em;

    &:first-child {
      margin-left: 0;
    }

    & > a {
      color: inherit;
    }

    &:hover > a {
      text-decoration: underline;
    }
  }
}


@media only screen and (min-width: $tablet-breakpoint) {
  .contact {
    text-align: center;
  }

  .contact-heading {
    font-size: 30px;
  }
}
