.projects {
  @extend .slide-wrapper;
}

.projects-title {
  text-transform: uppercase;
  margin: 0;
  font-weight: 800;
  color: $color-white;
}

.projects-paragraph {
  color: $color-white;
  font-size: 17px;
}


.projects-showcase {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: $large-margin * 2;
}

.project-wrapper {

  flex-basis: 100%;
  max-width: 100%;
  margin-bottom: $large-margin * 2;

}

.project {
  color: $color-white;
  
  padding: $large-padding*2 $large-padding;
  border: 1px solid $color-white;

  height: 100%;

  &:hover {
    transform: translateY(-4px) translateX(-4px);
    box-shadow: 4px 4px 0 0 $color-white;
  }
}


.project-title {
  color: $color-white;
  margin-top: 0;
  font-size: 1.5em;
}

.project-description {
  font-size: 1.2em;
  line-height: 1.2;
}

.project-links {

  &>a {
    margin-right: $margin;
    color: $color-white;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
@media only screen and (min-width: $tablet-breakpoint) {

  .project-wrapper {
    flex-basis: 50%;
    max-width: 50%;
    padding-right: $large-padding * 2;

    &:nth-child(2n) {
      padding-right: 0;
    }
  }

  .project-description {
    font-size: 20px;
    line-height: 25px;
  }
}
