.rgbStripe {
  display: none;
  z-index: 444;
  position: relative;
}

.rgbStripe-element {
  height: 5px;
}

@media only screen and (min-width: $tablet-breakpoint) {
  
  .rgbStripe-element {
    width: 60px;
  }

  .rgbStripe {
    display: flex;
    justify-content: flex-end;
  }

}

.rgbStripe-element--red {
  background-color: $color-red;
}


.rgbStripe-element--green {
  background-color: $color-green;
}


.rgbStripe-element--blue {
  background-color: $color-blue;
}

