.sticky {
  position: fixed;
  width: 100%;
  top: 0;
  color: $color-white;
  z-index: 777;
  background-color: transparent;
  box-shadow: 0px 1px 5px 0 rgba($color-black, .5);
  border-top: 1px solid darken($color-blue, 10%);

  &::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    transition: background,opacity 100ms ease;
    // background-color: rgba($color-black, .8);
    background-color: $color-blue;
    // background: linear-gradient(to bottom, rgba($color-black, .8), transparent);
  }
}

@media only screen and (min-width: $tablet-breakpoint) {
  .sticky {
    box-shadow: none;
    border-top: 0;
  } 

  .sticky::before {
    
    background-color: rgba($color-black, .8);
    // background: linear-gradient(to bottom, rgba($color-black, 1), rgba($color-black, .8), transparent);
  }

  .sticky--inverted {
    &::before {
      background: linear-gradient(to bottom, rgba($color-white, .9) 60%, rgba($color-white, 0.1));
    }
    color: $color-black;
  }

}

.sticky--hidden {
  visibility: hidden;
}
  
// .navbar--collapsed {
//   pointer-events: none;
// }

// .navbar--collapsed::before {
//   opacity: 0;
// }

// .navbar--collapsed .navbar {
//   transform: scaleY(0);
//   transform: translateY(-100%);
// }

