h1, h2, h3, h4, h5, h6 {
  font-family: $heading-font;
  color: $color-heading;
  font-weight: 400;
}

body {
  font-family: $body-font;
  color: $color-body;
  font-size: 14px;
  font-weight: 400;
}


@media only screen and (min-width: $tablet-breakpoint) {

  body {
    font-size: 14px;
  }

}
