.l-slide {
  // height: 400px;
  min-height: 100vh;
  // min-height: 400px;
  display: flex;

  background-color: $color-white;
  & > .container {
    // height: 100%;
    align-self: stretch;
    display: flex;
    flex-direction: column;
  }
}

.l-slide--black {
  background-color: $color-black;
}

.l-slide--blue {
  background-color: $color-blue;
}

.l-slide--divider {
  border-top: 1px solid $color-border;
}

.l-slide-content {
  flex: 1px;
}

.l-slide-content--centered {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
