$color-red              : #ff0000;
$color-green            : #00ff00;
// $color-blue             : #0000ff;
$color-blue             : #2f2fe9;

$color-root             : #E198FF;
// $color-root             : #00FFE5;

$color-black            : #000000;
$color-white            : #ffffff;

$color-body             : #000000;
$color-heading          : #000000;
$color-muted            : #555555;

// $color-links            : #16cfff;
$color-border           : #d4d4d5;
$color-border-inactive  : #ccd0d5;

// $color-error            : #E81224;
