$base-padding: .5rem;

$slim-padding: $base-padding / 2;
$padding: $base-padding;
$large-padding: $base-padding * 2;
$extralarge-padding: $base-padding * 3;

$base-margin: .5rem;

$slim-margin: $base-margin / 2;
$margin: $base-margin;
$large-margin: $base-margin * 2;
$extralarge-margin: $base-margin * 3;
