$heading-font: 'Raleway', 'Helvetica Neue', Arial, Helvetica, sans-serif;
$body-font: 'lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;


$heading-font: 'Space Mono', monospace;
$body-font: 'Space Mono', monospace;


$heading-font: 'Alegreya', serif;
$body-font: 'Inconsolata', monospace;


$body-font-size-mobile: 15px;
$body-font-size-desktop: 15px;
